<li>
	{{car_list}}

	<button class="sell" data-id="{{id}}" data-newSell="{{sell}}">
		{{#if sell}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>
	{{!-- <button class="delete" data-id="{{id}}">delete</button> --}}
</li>
